@charset "UTF-8";
/* 
Author: Aundrea Johnston
Date: Feb 3 2023
Description: css style sheet for e portfoloio
*/

body{
    background-color: rgb(120, 140, 85);
    color: black;
    font-style:normal;
}

h1{
    background-color: rgb(120, 140, 85);
}

h2{
    background-color: rgb(120, 140, 85);
}

body{
    background-color: rgb(120, 140, 85);
}

p{
   background-color:rgb(120, 140, 85);
   font-size:12px ;
}

