@charset "UTF-8";
/* 
Author: Aundrea Johnston
Date: Feb 3 2023
Description: css style sheet for e portfoloio
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    }

header{
    background-color:white;
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    padding:4% 1% 1% 1%;
    font-size: 40px;
    font-weight: 100;
    color:rgb(179, 138, 76);
}

h2{
    padding:0% 1% 4% 1%;
    font-size: 20px;
    font-weight: 100;
}

body{
    background-color: rgb(247 247 247);
    color: black;
    font-family:"Roboto";
    font-size:20px;
    width:auto;
    height: auto;
    padding:0%;
    margin:0;
    padding:0;
}
ul{
    padding-left: 20px;
}

a:link, a:hover, a:visited, a:focus, a:active {
    color: rgb(179, 138, 76);
    text-decoration: none;
  }

#homepageAbout{
    color:rgb(179, 138, 76);
    font-size: 40px;
}

.reAboutMe{
    font-size: 5px;
}

#aboutSubLine{
    font-size:20px;
    font-weight: 100;
}

#aboutP{
    font-size:16px;
}

.reImage{
    display:flex;
    justify-content:center;
    width:100%;
}

#skillsHeader{
    text-align: center;
    font-weight: 100;
    color:rgb(179, 138, 76);
}

.flex-container-skills{
    display:flex;
    width:auto;
    flex-direction: row;
    align-self: center;
    padding: 10px 100px 20px 100px;
  }

  .flex-container-skills >div{
    flex:auto;
    width: 20%;
    align-content: center;
    min-height: 50vh;
  }
  .flex-container-skills .techSkills{
    background-color: whitesmoke;
    margin:4px;
    padding:15px;
    border:2px solid black;
    list-style-position: inside;
  }
  .flex-container-skills .certs{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:15px;
    border:2px solid black;
    
  }
  .flex-container-skills .personalSkills{
    background-color: whitesmoke;
    margin:4px;
    padding:15px;
    border:2px solid black;
    list-style-position: inside;
  }

  .flex-container-skills >div h2{
    color:rgb(179, 138, 76);
    text-align: center;
  }

  .flex-future {
    display:flex;
    width:auto;
    flex-direction: row;
    align-self: center;
    padding: 10px 100px 20px 100px;
  }

  .flex-future >div{
    flex:auto;
    width: 20%;
    align-content: center;
    min-height: 50vh;
  }

  #future-heading{
    text-align: center;
    color:rgb(179, 138, 76);
    font-size: 40px;
    font-weight: 100;
  }

  .flex-future .started{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid black;
  }

  .flex-future .going{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid black;
  }

  .flex-future >div h2{
    color:rgb(179, 138, 76);
    text-align: center;
  }

  .flex-contact{
    display:flex;
    width:80%;
    flex-direction: row;
    align-self: center;
    padding: 10px 100px 20px 100px;

  }

  .flex-contact >div{
    flex:auto;
    width:20%;
    align-content: center;
    text-align: center;
    min-height: 20vh;
  }

  #contactHeading{
    text-align: center;
    color:rgb(179, 138, 76);
    font-size: 40px;
    font-weight: 100;
  }

  .flex-contact .email{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid black;
  }
  .flex-contact .phone{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid black;
  }
  .flex-contact .coffees {
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid black;
  }
  .flex-contact .linkedIn {
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid black;
  }

