@charset "UTF-8";
/*
Author:Aundrea Johnston
Date:Feb 16 2023
Description: css style sheet for resume.html
*/
@media only screen and (max-width: 768px) { /*mobile phone*/

      /*BREAK INTO VERTICAL MENU */
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
      }
     
      /*SHOW HAMBURGER ICON */
      #hamnav label { 
        display: inline-block; 
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      /*TOGGLE SHOW/HIDE MENU */
      #hamitems { 
      display: none;
    }

      #hamnav input:checked ~ #hamitems { 
      display: block;
     }
    }
    article{
      margin-bottom:10px;
      background-color: rgba(150, 185, 160);
    }


@media only screen and (min-width: 769px) {/*desktop*/
/*nav menu*/
  #hamnav {
    width: 100%;
    background: #000;
    float:left;
  }
  /*HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #af0d0d; }
  /*HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }

  /*grid display*/
  .reHeading { grid-area: reHeading; }
  .rePersonal { grid-area: rePersonal; }
  .reContact { grid-area: reContact; }
  .reEducation { grid-area: reEducation; }
  .reSkills { grid-area: reSkills; }
  .reWork { grid-area: reWork; }
  .reImage {grid-area: reImage; }
  .reAboutMe {grid-area: reAboutMe; }

  /*resume grid */
  .grid-container-resume {
      display: grid;
      grid-auto-rows: auto; 
      grid-auto-columns: 1fr;
      grid-template-areas:
        'reHeading reHeading reHeading'
        'reEducation reWork reWork'
        'rePersonal reWork reWork'
        'reSkills reWork reWork';
      gap: 5px 5px;
      background-color: white; 
      padding: 10px;
      width: 65%;
      margin-left: auto;
      margin-right: auto;
  }  
    .grid-container-resume > div {
      grid:auto;
      text-align: left;
      text-align:top;
      padding: 10% 10%;
      font-size: 30px;
      width:80%;
      margin-left:0%;
      margin-right: 0%;

    }
    .grid-container-home{
      display:grid;
      grid-auto-columns: 1fr;
      grid-template-areas: 
      'reImage reAboutMe'
      'reImage reAboutMe'
      'reImage reAboutMe';
      background-color: white; 
      padding: 20px;
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      float:center;
    }
    .grid-container-home > div {
      grid:auto;
      text-align: left;
      padding: 10% 10%;
      font-size: 20px;
      width:80%;

    }

}