@charset "UTF-8";
/*
Author:Aundrea Johnston
Date:Feb 16 2023
Description: css style sheet for resume.html
*/


@media only screen and (max-width: 768px) { /*mobile phone*/

  /*BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  /*SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline-block; 
    background: white;
    color: #836a4a;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  /*TOGGLE SHOW/HIDE MENU */
  #hamitems { 
    display: none;
  }
  /*hide checkbox*/
  #hamburger{
    display: none;
  }
  #hamnav input:checked ~ #hamitems { 
    display: block;
  } 

    /*grid display*/
    .reImage {grid-area: reImage; }
    .reAboutMe {grid-area: reAboutMe; }
    .reHeading { grid-area: reHeading; }
    .rePersonal { grid-area: rePersonal; }
    .reContact { grid-area: reContact; }
    .reEducation { grid-area: reEducation; }
    .reSkills { grid-area: reSkills; }
    .reWork { grid-area: reWork; }

    /*resume grid*/
    .grid-container-resume {
      display: grid;
      grid-auto-rows: auto; 
      grid-auto-columns: 1fr;
      grid-template-areas:
        'reHeading'
        'rePersonal'
        'reEducation'
        'reSkills'
        'reWork';
      padding-left: 10px;
      padding-right: 10px;
    }
    /*homepage grid*/
    .grid-container-home{
      display:grid;
      grid-auto-columns: 1fr;
      grid-template-areas: 
      'reImage'
      'reAboutMe';
      background-color: rgb(247 247 247); 
      padding: 20px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
  .grid-container-home .reAboutMe{
      border: 0px;
  }
  /*skills&certs flex*/
  .flex-container-skills{
    display:flex;
    width:auto;
    flex-direction: column;
    align-self: center;
  }

  .flex-container-skills >div{
    flex:auto;
    align-content: center;
  }
  /*future plans flex*/
  
  .flex-future {
    display:flex;
    width:auto;
    flex-direction: column;
    align-self: center;
  }

  .flex-future >div{
    flex:auto;
    align-content: center;
  }

  /*contact me flex*/
  .flex-contact{
    display:flex;
    width:auto;
    flex-direction: column;
    align-self: center;

  }

  .flex-contact >div{
    flex:auto;
    align-content: center;
    text-align: center;
  }
}
    





@media only screen and (min-width: 769px) {/*desktop*/
/*nav menu*/
  #hamnav {
    width: 100%;
    background-color: rgb(247 247 247 );
    float:left;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
  }
  /*HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px
  }
  #hamitems a:hover { color: rgb(179,138,76); }
  /*HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }



  /*grid display*/
  .reImage {grid-area: reImage; }
  .reAboutMe {grid-area: reAboutMe; }
  .reHeading { grid-area: reHeading; }
  .rePersonal { grid-area: rePersonal; }
  .reContact { grid-area: reContact; }
  .reEducation { grid-area: reEducation; }
  .reSkills { grid-area: reSkills; }
  .reWork { grid-area: reWork; }

  /*resume grid*/
  .grid-container-resume {
  display: grid;
  grid-auto-rows: auto; 
  grid-auto-columns: 1fr;
  grid-template-areas:
    'reHeading reHeading reHeading'
    'reEducation reWork reWork'
    'rePersonal reWork reWork'
    'reSkills reWork reWork';
  gap: 5px 5px;
  background-color: white; 
  padding: 10px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}  
.grid-container-resume > div {
  text-align:left;
  padding: 10% 10%;
  font-size: 30px;
  width:70%;
  margin-left:0%;
  margin-right: 0%;
}
.grid-container-resume .reHeading{
  padding: 40px 20px 20px 10px;
  text-align: center;
  width: auto;
}
.grid-container-resume .reEducation{
  padding: 10px 10px 5px 100px;
}
.grid-container-resume .reWork{
  padding: 10px 10px 5px 100px;
}
.grid-container-resume .rePersonal{
  padding: 10px 10px 5px 100px;
}
.grid-container-resume .reSkills{
  padding: 10px 10px 5px 100px;
}

/*homepage grid*/
  .grid-container-home{
    display:grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'reImage reAboutMe'
    'reImage reAboutMe'
    'reImage reAboutMe';
    background-color: rgb(247 247 247); 
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  .grid-container-home > div {
    text-align: left;
    padding: 10% 10%;
    font-size: 20px;
    width:80%;
}

/*skills flex container*/
.flex-container-skills{
  display:flex;
  width:auto;
  flex-direction: row;
  align-self: center;
  padding: 10px 100px 20px 100px;
}

.flex-container-skills >div{
  flex:auto;
  width: 20%;
  align-content: center;
}

/*future flex box*/
.flex-future {
  display:flex;
  width:auto;
  flex-direction: row;
  align-self: center;
  padding: 10px 100px 20px 100px;
}

.flex-future >div{
  flex:auto;
  width: 20%;
  align-content: center;
}
/*contact me flex*/

.flex-contact{
  display:flex;
  width:auto;
  flex-direction: row;
  align-self: center;
  padding: 10px 100px 20px 100px;

}

.flex-contact >div{
  flex:auto;
  width:20%;
  align-content: center;
  text-align: center;
}
}