@charset "UTF-8";
/* 
Author: Aundrea Johnston
Date: Feb 3 2023
Description: css style sheet for e portfoloio
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    }

header{
    background-color:white;
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    padding:4% 1% 1% 1%;
    font-size: 40px;
    font-weight: 100;
    color:rgb(179, 138, 76);
}

h2{
    padding:0% 1% 4% 1%;
    font-size: 20px;
    font-weight: 100;
}

body{
    background-color: rgb(247 247 247);
    color: black;
    font-family:'Ubuntu', sans-serif;
    font-size:20px;
    width:auto;
    height: auto;
    padding:0%;
    margin:0;
    padding:0;
}
ul{
    padding-left: 30px;
}

a:link, a:visited, a:focus, a:active {
    color:black;
    text-decoration: none;
  }
a:hover{
    color: rgb(179, 138, 76);
}

#homepageAbout{
    color:rgb(179, 138, 76);
    font-size: 40px;
}

.reAboutMe{
    font-size: 5px;
    border-left:2px solid rgb(179, 138, 76) ;
}

#aboutSubLine{
    font-size:20px;
    font-weight: 100;
}

#aboutP{
    font-size:16px;
}

.reImage{
    display:flex;
    justify-content:center;
    width:100%;
}

#skillsHeader{
    text-align: center;
    font-weight: 100;
    color:rgb(179, 138, 76);
}

  .flex-container-skills .techSkills{
    background-color: whitesmoke;
    margin:4px;
    padding:15px;
    border:2px solid darkgray;
    list-style-position: inside;
  }
  .flex-container-skills .certs{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:15px;
    border:2px solid darkgray;
    
  }
  .flex-container-skills .personalSkills{
    background-color: whitesmoke;
    margin:4px;
    padding:15px;
    border:2px solid darkgray;
    list-style-position: inside;
  }

  .flex-container-skills >div h2{
    color:rgb(179, 138, 76);
    text-align: center;
  }
  #future-heading{
    text-align: center;
    color:rgb(179, 138, 76);
    font-size: 40px;
    font-weight: 100;
  }

  .flex-future .started{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid darkgray;
  }

  .flex-future .going{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid darkgray;
  }

  .flex-future >div h2{
    color:rgb(179, 138, 76);
    text-align: center;
  }

  #contactHeading{
    text-align: center;
    color:rgb(179, 138, 76);
    font-size: 40px;
    font-weight: 100;
  }

  .flex-contact .email{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid darkgray;
    justify-content: center;
    align-items: center;
  }
  .flex-contact .phone{
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid darkgray;
  }
  .flex-contact .coffees {
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid darkgray;
  }
  .flex-contact .linkedIn {
    background-color: whitesmoke;
    margin:4px;
    flex-grow: 4;
    padding:6px;
    border:2px solid darkgray;
    align-items:center;
    justify-content:center;
  }

