@charset "UTF-8";
/*
Author:Aundrea Johnston
Date:Feb 16 2023
Description: css style sheet for resume.html
*/
  @media only screen and (max-width: 480px) { /*mobile phone*/

      /*BREAK INTO VERTICAL MENU */
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
      }
     
      /*SHOW HAMBURGER ICON */
      #hamnav label { 
        display: inline-block; 
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      /*TOGGLE SHOW/HIDE MENU */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    }
    article{
      margin-bottom:10px;
      background-color: rgba(150, 185, 160);
    }



  @media only screen and (min-width: 481px) {/*tablet/large phone*/
    @media screen and (max-width: 768px){
      /* (A) BREAK INTO VERTICAL MENU */
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
      }
     
      /* (B) SHOW HAMBURGER ICON */
      #hamnav label { 
        display: inline-block; 
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      /* (C) TOGGLE SHOW/HIDE MENU */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    }

    .reHeading { grid-area: reHeading; }
    .rePersonal { grid-area: rePersonal; }
    .reContact { grid-area: reContact; }
    .reEducation { grid-area: reEducation; }
    .reSkills { grid-area: reSkills; }
    .reWork { grid-area: reWork; }
    
    .grid-container {
        display: grid;
        grid-template-areas:
          'reHeading reHeading reHeading '
          'rePersonal reSkills reSkills'
          'reContact reWork reWork'
          'reEducation reWork reWork';
    
        gap: 5px 5px;
        background-color: rgba(150, 185, 160);
        padding: 10px;
        width: 80%;
        margin-left: 10%;
        
    }  
    
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: left;
        padding: 10px 0;
        font-size: 30px;
        width: 90%;
        margin-left:50%;
      }		

  }

@media only screen and (min-width: 769px) {/*desktop*/

  #hamnav {
    width: 100%;
    background: #000;
  }

  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  #hamitems a:hover { background: #af0d0d; }
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }
  .reHeading { grid-area: reHeading; }
  .rePersonal { grid-area: rePersonal; }
  .reContact { grid-area: reContact; }
  .reEducation { grid-area: reEducation; }
  .reSkills { grid-area: reSkills; }
  .reWork { grid-area: reWork; }
  .grid-container {
      display: grid;
      grid-template-areas:
        'reHeading reHeading reHeading '
        'rePersonal reSkills reSkills'
        'reContact reWork reWork'
        'reEducation reWork reWork';
      gap: 5px 5px;
      background-color: rgba(150, 185, 160);
      padding: 10px;
      width: 80%;
      margin-left: 10%;
      float:left;
      
  }  
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: left;
      padding: 10px 0;
      font-size: 30px;
      width: 90%;
      margin-left:50%;

    }

}

