@charset "UTF-8";
/* 
Author: Aundrea Johnston
Date: Feb 3 2023
Description: css style sheet for e portfoloio
*/

/*grid*/
.reHeading { grid-area: reHeading; }
.rePersonal { grid-area: rePersonal; }
.reContact { grid-area: reContact; }
.reEducation { grid-area: reEducation; }
.reSkills { grid-area: reSkills; }
.reWork { grid-area: reWork; }

  /*resume grid */
  .grid-container-resume {
    display: grid;
    grid-auto-rows: auto; 
    grid-auto-columns: 1fr;
    grid-template-areas:
      'reHeading reHeading reHeading'
      'reEducation reWork reWork'
      'rePersonal reWork reWork'
      'reSkills reWork reWork';
    gap: 5px 5px;
    background-color: white; 
    padding: 10px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}  
  .grid-container-resume > div {
    grid:auto;
    text-align:left;
    padding: 10% 10%;
    font-size: 30px;
    width:70%;
    margin-left:0%;
    margin-right: 0%;

  }

.grid-container-resume .reHeading{
    padding: 40px 20px 20px 10px;
    text-align: center;
    width: auto;
}

.grid-container-resume .reEducation{
    padding: 10px 10px 5px 100px;
}

.grid-container-resume .reWork{
    padding: 10px 10px 5px 100px;
}

.grid-container-resume .rePersonal{
    padding: 10px 10px 5px 100px;
}

.grid-container-resume .reSkills{
    padding: 10px 10px 5px 100px;
}

.reWork h3{
    font-size:25px;
    text-decoration: underline;
}

.reWork h4{
    font-size:20px;
}

.reWork h5{
    font-size:16px;
    font-style:italic;
    font-weight: 100;
}

.reWork p{
    font-size:16px;
}

.reHeading h3{
    color:rgb(179, 138, 76);
    font-size: 40px;
}

.reHeading h4{
    font-size:24px;
}

.reEducation h3{
    font-size: 25px;
    text-decoration: underline;
}

.reEducation h4{
    font-size:16px;
    font-weight: 100;

}

.reEducation h5{
    font-size:16px;
    font-weight: 100;
}

.rePersonal h3{
    font-size:25px;
    text-decoration: underline;
}

.rePersonal p{
    font-size: 16px;
}

.reSkills h3{
    font-size:25px;
    text-decoration: underline;
}

.reSkills p{
    font-size: 16px;
}